<!DOCTYPE html> 
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- STYLE -->
    <link rel="stylesheet" href="./style/index.css">
    <title>Bool-zapp</title>
    <!-- DATA -->
    <script src="./js/data.js"></script>
</head>
<body>
    <div class="contenitore position-absolute top-50 start-50 translate-middle " id="app">
        <div class="row h-100">
            <!-- COLONNA DI NAVIGAZIONE -->
            <div class="col-4 p-0 border-end border-2">
                <!-- Section dedicata all'utente e alla modifica delle impostazioni-->
                <section class="user_display d-flex justify-content-between base_color">
                    <div class="d-flex align-items-center">
                        <img v-bind:src="'./img/avatar' + data.user.avatar + '.jpg'" alt="user img" class="user_img mx-2 '
                        rounded-circle">
                        <span>Nome Utente</span>
                    </div>
                    <div class="d-flex align-items-center mx-2">
                        <i class="fas fa-circle-notch m-2"></i>
                        <i class="fas fa-comment-alt m-2"></i>
                        <i class="fas fa-ellipsis-v m-2"></i>
                    </div>
                </section>
                <!-- Section di notifiche -->
                <section class="notification px-3 d-flex align-items-center light_blue">
                    <div class="d-inline-block p-2 white rounded-circle">
                        <i class="fas fa-bell-slash align-middle text-center"></i>
                    </div>
                    <div class="d-inline-block mx-2 lh-sm">
                        <div class="">Ricevi notifiche di nuovi messaggi</div>
                        <div class="font_small color_gray text-decoration-underline">Attiva notifiche desktop</div>
                    </div>
                </section>
                <!-- Section di ricerca-->
                <section class="search base_color d-flex align-items-center px-1">
                    <div class="input-group">
                        <span class="input-group-text white">
                            <i class="fas fa-search mx-3"></i>
                        </span>
                        <input v-model="searchedUser" type="text" class="form-control font_small" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </section>
                <!-- Section dedicata alla lista contatti e alle chat aperte -->
                <section class="contacts overflow-scroll base_color">
                    <div v-for="contact in search(searchedUser)" class="d-flex align-items-center p-2 border-top white interaction_gray" v-on:click="selectedContact = contact">
                        <img v-bind:src="'./img/avatar' + contact.avatar + '.jpg'" alt="user img" class="user_img mx-2 '
                        rounded-circle">
                        {{ contact.name }}
                    </div>
                </section>
            </div>
            <!-- COLONNA CHAT -->
            <div class="col-8 p-0">
                <!-- Section di intestazione destinatario messaggi + impostazioni-->
                <section class="user_display d-flex justify-content-between base_color">
                    <div class="d-flex align-items-center">
                        <img v-bind:src="'./img/avatar' + selectedContact.avatar + '.jpg'" alt="user img" class="user_img mx-2 '
                        rounded-circle">
                        <div>
                            <div>{{selectedContact.name}}</div>
                            <div class="font_small color_gray lh-sm">Ultimo accesso oggi alle...</div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mx-2">
                        <i class="fas fa-search m-2"></i>
                        <i class="fas fa-paperclip m-2"></i>
                        <i class="fas fa-ellipsis-v m-2"></i>
                    </div>
                </section>
                <!-- Section dedicata alla visualizzazione della chat -->
                <section class="chat_display">

                </section>
                <!-- Section dedicata alla scrittura e all'invio di messaggi -->
                <section class="messages beige">
                    <div class="row h-100 align-items-center">
                        <div class="col-auto"><i class="far fa-smile ms-4"></i></div>
                        <div class="col">
                            <input class="form-control form-control-lg font_small color_gray lh-lg border-0" type="text" placeholder="Scrivi un messaggio" aria-label=".form-control-lg">
                        </div>
                        <div class="col-auto"><i class="fas fa-microphone me-4"></i></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- SCRIPT -->
    <script src="./js/index.js"></script>
</body>

