/* color properties */
.base_color {
    background-color: rgb(234, 234, 234);
}
.beige {
    background-color: rgb(243, 238, 234);
}
.white {
    background-color: white;
}
.light_blue {
    background-color: rgb(145, 218, 250);
}
.color_gray {
    color: rgb(120, 120, 120)
}
.interaction_gray:hover, .interaction_gray:focus{
    background-color: rgb( 235, 235, 235);
}

/* Font properties */
* {
    font-size: 15px;
}
.font_small {
    font-size: 12px;
}
.font_smaller {
    font-size: 10px;
}
  
/* Body e contenitore properties */
body {
    height: 100vh;
    background: linear-gradient(rgb(21, 149, 136) 20%, rgb(218, 219, 215) 20%);
}
.contenitore {
    height: 580px;
    width: 80vw;
    max-width: 1100px;
}

/* User_display properties */
.user_display {
    height: 70px;
}
.user_img {
    height: 50px;
}
.user_display i {
    color: rgb(177, 177, 177);
    font-size: 20px;
}

/* Notification properties */
.notification {
    height: calc(100% - 510px);
}
.notification i {
    color: rgb(145, 218, 250);
    font-size: 20px;
}

/* Search properties */
.search {
    height: 40px;
}
.search i {
    color: rgb(177, 177, 177);
    font-size: 15px;
}
.search .input-group-text, .search .form-control  {
    border: none;
    border-radius: 0%;
}

/* Contacts properties */
.contacts {
    height: 400px;
}

/* Chat_display properties */
.chat_display {
    height: 450px;
    background-image: url("../img/mine.jpg");
}
.sent {
    max-width: 320px;
    min-width: 270px;
    background-color: rgb(214, 248, 188);
}
.received {
    max-width: 320px;
    min-width: 270px;
    background-color: rgb(255, 255, 255);
}

/* Messages properties */
.messages {
    height: calc(100% - 520px);
}
.messages i {
    color: rgb(107, 115, 118);
    font-size: 20px;
}








