/** Porzione dello stylesheet che contiene solo proprietà di colore, dimensione e posizionamento */
/* Geberal properties */
.zindex-1 {
    z-index: 1;
}
.translateY-100 {
    transform: translateY(-100%);
}

/* color properties */
.base_color {
    background-color: rgb(234, 234, 234);
}
.beige {
    background-color: rgb(243, 238, 234);
}
.white {
    background-color: white;
}
.light_blue {
    background-color: rgb(145, 218, 250);
}
.color_gray, .color_gray:hover {
    color: rgb(120, 120, 120)
}
.interaction_gray:hover {
    background-color: rgb( 235, 235, 235);
}
.red {
    color: red;
}
.red_border {
    border-color: red!important;
}

/* Font properties */
* {
    font-size: 15px;
}
.font_small {
    font-size: 12px;
}
.font_smaller {
    font-size: 10px;
}
  
/* Body e contenitore properties */
body {
    height: 100vh;
    background: linear-gradient(rgb(21, 149, 136) 20%, rgb(218, 219, 215) 20%);
}
.contenitore {
    height: 580px;
    width: 80vw;
    max-width: 1100px;
}

/* User_display properties */
.user_display {
    height: 70px;
}
.user_img {
    height: 50px;
}
.user_display i {
    color: rgb(177, 177, 177);
    font-size: 20px;
}

/* Notification properties */
.notification {
    height: calc(100% - 510px);
}
.notification .icon_div {
    height: 40px;
    width: 40px;
}
.notification i {
    color: rgb(145, 218, 250);
    font-size: 20px;
}

/* Search properties */
.search {
    height: 40px;
}
.search i {
    color: rgb(177, 177, 177);
    font-size: 15px;
}

/* Contacts properties */
.contacts {
    height: 400px;
}
.message_preview_display {
    width: 200px;
}
.message_preview_display div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* Chat_display properties */
.chat_display {
    height: 450px;
    background-image: url("../img/mine.jpg");
}
.message {
    max-width: 320px;
}

/* Messages properties */
.messages {
    height: calc(100% - 520px);
}
.messages i {
    color: rgb(107, 115, 118);
    font-size: 20px;
}
/** Porzione dello stylesheet che contine le modifiche alle proprietà già presenti degli elementi bootstrap */
.button_reset {
    display: none;
}
.message:hover .button_reset {
    display: initial;
}
.button_reset, .button_reset:hover, .button_reset:focus, .button_reset:active, .button_reset:active:focus {
    color: gray;
    box-shadow: 0px 0px 0px;
    border-width: 0;
} 
.sent_color, .sent_color:hover, .sent_color:focus, .sent_color:active, .sent_color:active:focus {
    background-color: rgb(214, 248, 188);
}
.received_color, .received_color:hover, .received_color:focus, .received_color:active, .received_color:active:focus{
    background-color: rgb(255, 255, 255);
}







